In [1]:
import requests
import pandas as pd

In [2]:
base_url = 'https://tyler.caraza-harter.com/cs301/fall18/materials/code/lec-28/'

# lookup list of state files
r = requests.get(base_url + 'state_files.txt')
r

In [3]:
assert(r.status_code) == 200

In [4]:
r.text

'Alabama.json\nAlaska.json\nArizona.json\nArkansas.json\nCalifornia.json\nColorado.json\nConnecticut.json\nDelaware.json\nFlorida.json\nGeorgia.json\nHawaii.json\nIdaho.json\nIllinois.json\nIndiana.json\nIowa.json\nKansas.json\nKentucky.json\nLouisiana.json\nMaine.json\nMaryland.json\nMassachusetts.json\nMichigan.json\nMinnesota.json\nMississippi.json\nMissouri.json\nMontana.json\nNebraska.json\nNevada.json\nNew_Hampshire.json\nNew_Jersey.json\nNew_Mexico.json\nNew_York.json\nNorth_Carolina.json\nNorth_Dakota.json\nOhio.json\nOklahoma.json\nOregon.json\nPennsylvania.json\nRhode_Island.json\nSouth_Carolina.json\nSouth_Dakota.json\nTennessee.json\nTexas.json\nUtah.json\nVermont.json\nVirginia.json\nWashington.json\nWest_Virginia.json\nWisconsin.json\nWyoming.json'

In [5]:
# get list of state files
state_files = r.text.split('\n')
state_files

['Alabama.json',
 'Alaska.json',
 'Arizona.json',
 'Arkansas.json',
 'California.json',
 'Colorado.json',
 'Connecticut.json',
 'Delaware.json',
 'Florida.json',
 'Georgia.json',
 'Hawaii.json',
 'Idaho.json',
 'Illinois.json',
 'Indiana.json',
 'Iowa.json',
 'Kansas.json',
 'Kentucky.json',
 'Louisiana.json',
 'Maine.json',
 'Maryland.json',
 'Massachusetts.json',
 'Michigan.json',
 'Minnesota.json',
 'Mississippi.json',
 'Missouri.json',
 'Montana.json',
 'Nebraska.json',
 'Nevada.json',
 'New_Hampshire.json',
 'New_Jersey.json',
 'New_Mexico.json',
 'New_York.json',
 'North_Carolina.json',
 'North_Dakota.json',
 'Ohio.json',
 'Oklahoma.json',
 'Oregon.json',
 'Pennsylvania.json',
 'Rhode_Island.json',
 'South_Carolina.json',
 'South_Dakota.json',
 'Tennessee.json',
 'Texas.json',
 'Utah.json',
 'Vermont.json',
 'Virginia.json',
 'Washington.json',
 'West_Virginia.json',
 'Wisconsin.json',
 'Wyoming.json']

In [6]:
# let's fetch each state file and parse the JSON it contains

# key: state_file name
# val: dictionary of population stats by year
state_data = {}

for name in state_files:
    url = base_url + name
    r = requests.get(url)
    r.raise_for_status()
    data = r.json()
    print(name, data)
    state_data[name] = data

Alabama.json {'2000': 4447100, '2010': 4779736, '2015': 4846411}
Alaska.json {'2000': 626932, '2010': 710231, '2015': 737046}
Arizona.json {'2000': 5130632, '2010': 6392017, '2015': 6728783}
Arkansas.json {'2000': 2673400, '2010': 2915918, '2015': 2966835}
California.json {'2000': 33871648, '2010': 37253956, '2015': 38792291}
Colorado.json {'2000': 4301261, '2010': 5029196, '2015': 5355588}
Connecticut.json {'2000': 3405565, '2010': 3574097, '2015': 3594762}
Delaware.json {'2000': 783600, '2010': 897934, '2015': 935968}
Florida.json {'2000': 15982378, '2010': 18801310, '2015': 19905569}
Georgia.json {'2000': 8186453, '2010': 9687653, '2015': 10097132}
Hawaii.json {'2000': 1211537, '2010': 1360301, '2015': 1420257}
Idaho.json {'2000': 1293953, '2010': 1567582, '2015': 1634806}
Illinois.json {'2000': 12419293, '2010': 12830632, '2015': 12882189}
Indiana.json {'2000': 6080485, '2010': 6483802, '2015': 6597880}
Iowa.json {'2000': 2926324, '2010': 3046355, '2015': 3109481}
Kansas.json {'2000': 2688418, '2010': 2853118, '2015': 2902507}
Kentucky.json {'2000': 4041769, '2010': 4339367, '2015': 4412617}
Louisiana.json {'2000': 4468976, '2010': 4533372, '2015': 4648990}
Maine.json {'2000': 1274923, '2010': 1328361, '2015': 1330256}
Maryland.json {'2000': 5296486, '2010': 5773552, '2015': 5975346}
Massachusetts.json {'2000': 6349097, '2010': 6547629, '2015': 6755124}
Michigan.json {'2000': 9938444, '2010': 9883640, '2015': 9916306}
Minnesota.json {'2000': 4919479, '2010': 5303925, '2015': 5457125}
Mississippi.json {'2000': 2844658, '2010': 2967297, '2015': 2993443}
Missouri.json {'2000': 5595211, '2010': 5988927, '2015': 6063827}
Montana.json {'2000': 902195, '2010': 989415, '2015': 1023252}
Nebraska.json {'2000': 1711263, '2010': 1826341, '2015': 1882980}
Nevada.json {'2000': 1998257, '2010': 2700551, '2015': 2838281}
New_Hampshire.json {'2000': 1235786, '2010': 1316470, '2015': 1327996}
New_Jersey.json {'2000': 8414350, '2010': 8791894, '2015': 8938844}
New_Mexico.json {'2000': 1819046, '2010': 2059179, '2015': 2085567}
New_York.json {'2000': 18976457, '2010': 19378102, '2015': 19748858}
North_Carolina.json {'2000': 8049313, '2010': 9535483, '2015': 9940387}
North_Dakota.json {'2000': 642200, '2010': 672591, '2015': 740040}
Ohio.json {'2000': 11353140, '2010': 11536504, '2015': 11596998}
Oklahoma.json {'2000': 3450654, '2010': 3751351, '2015': 3879610}
Oregon.json {'2000': 3421399, '2010': 3831074, '2015': 3971202}
Pennsylvania.json {'2000': 12281054, '2010': 12702379, '2015': 12793767}
Rhode_Island.json {'2000': 1048319, '2010': 1052567, '2015': 1054907}
South_Carolina.json {'2000': 4012012, '2010': 4625364, '2015': 4829160}
South_Dakota.json {'2000': 754844, '2010': 814180, '2015': 853304}
Tennessee.json {'2000': 5689283, '2010': 6346105, '2015': 6547779}
Texas.json {'2000': 20851820, '2010': 25145561, '2015': 26979078}
Utah.json {'2000': 2233169, '2010': 2763885, '2015': 2944498}
Vermont.json {'2000': 608827, '2010': 625741, '2015': 626767}
Virginia.json {'2000': 7078515, '2010': 8001024, '2015': 8328098}
Washington.json {'2000': 5894121, '2010': 6724540, '2015': 7063166}
West_Virginia.json {'2000': 1808344, '2010': 1852994, '2015': 1848751}
Wisconsin.json {'2000': 5363675, '2010': 5686986, '2015': 5759432}
Wyoming.json {'2000': 493782, '2010': 563626, '2015': 584304}

In [7]:
state_data

{'Alabama.json': {'2000': 4447100, '2010': 4779736, '2015': 4846411},
 'Alaska.json': {'2000': 626932, '2010': 710231, '2015': 737046},
 'Arizona.json': {'2000': 5130632, '2010': 6392017, '2015': 6728783},
 'Arkansas.json': {'2000': 2673400, '2010': 2915918, '2015': 2966835},
 'California.json': {'2000': 33871648, '2010': 37253956, '2015': 38792291},
 'Colorado.json': {'2000': 4301261, '2010': 5029196, '2015': 5355588},
 'Connecticut.json': {'2000': 3405565, '2010': 3574097, '2015': 3594762},
 'Delaware.json': {'2000': 783600, '2010': 897934, '2015': 935968},
 'Florida.json': {'2000': 15982378, '2010': 18801310, '2015': 19905569},
 'Georgia.json': {'2000': 8186453, '2010': 9687653, '2015': 10097132},
 'Hawaii.json': {'2000': 1211537, '2010': 1360301, '2015': 1420257},
 'Idaho.json': {'2000': 1293953, '2010': 1567582, '2015': 1634806},
 'Illinois.json': {'2000': 12419293, '2010': 12830632, '2015': 12882189},
 'Indiana.json': {'2000': 6080485, '2010': 6483802, '2015': 6597880},
 'Iowa.json': {'2000': 2926324, '2010': 3046355, '2015': 3109481},
 'Kansas.json': {'2000': 2688418, '2010': 2853118, '2015': 2902507},
 'Kentucky.json': {'2000': 4041769, '2010': 4339367, '2015': 4412617},
 'Louisiana.json': {'2000': 4468976, '2010': 4533372, '2015': 4648990},
 'Maine.json': {'2000': 1274923, '2010': 1328361, '2015': 1330256},
 'Maryland.json': {'2000': 5296486, '2010': 5773552, '2015': 5975346},
 'Massachusetts.json': {'2000': 6349097, '2010': 6547629, '2015': 6755124},
 'Michigan.json': {'2000': 9938444, '2010': 9883640, '2015': 9916306},
 'Minnesota.json': {'2000': 4919479, '2010': 5303925, '2015': 5457125},
 'Mississippi.json': {'2000': 2844658, '2010': 2967297, '2015': 2993443},
 'Missouri.json': {'2000': 5595211, '2010': 5988927, '2015': 6063827},
 'Montana.json': {'2000': 902195, '2010': 989415, '2015': 1023252},
 'Nebraska.json': {'2000': 1711263, '2010': 1826341, '2015': 1882980},
 'Nevada.json': {'2000': 1998257, '2010': 2700551, '2015': 2838281},
 'New_Hampshire.json': {'2000': 1235786, '2010': 1316470, '2015': 1327996},
 'New_Jersey.json': {'2000': 8414350, '2010': 8791894, '2015': 8938844},
 'New_Mexico.json': {'2000': 1819046, '2010': 2059179, '2015': 2085567},
 'New_York.json': {'2000': 18976457, '2010': 19378102, '2015': 19748858},
 'North_Carolina.json': {'2000': 8049313, '2010': 9535483, '2015': 9940387},
 'North_Dakota.json': {'2000': 642200, '2010': 672591, '2015': 740040},
 'Ohio.json': {'2000': 11353140, '2010': 11536504, '2015': 11596998},
 'Oklahoma.json': {'2000': 3450654, '2010': 3751351, '2015': 3879610},
 'Oregon.json': {'2000': 3421399, '2010': 3831074, '2015': 3971202},
 'Pennsylvania.json': {'2000': 12281054, '2010': 12702379, '2015': 12793767},
 'Rhode_Island.json': {'2000': 1048319, '2010': 1052567, '2015': 1054907},
 'South_Carolina.json': {'2000': 4012012, '2010': 4625364, '2015': 4829160},
 'South_Dakota.json': {'2000': 754844, '2010': 814180, '2015': 853304},
 'Tennessee.json': {'2000': 5689283, '2010': 6346105, '2015': 6547779},
 'Texas.json': {'2000': 20851820, '2010': 25145561, '2015': 26979078},
 'Utah.json': {'2000': 2233169, '2010': 2763885, '2015': 2944498},
 'Vermont.json': {'2000': 608827, '2010': 625741, '2015': 626767},
 'Virginia.json': {'2000': 7078515, '2010': 8001024, '2015': 8328098},
 'Washington.json': {'2000': 5894121, '2010': 6724540, '2015': 7063166},
 'West_Virginia.json': {'2000': 1808344, '2010': 1852994, '2015': 1848751},
 'Wisconsin.json': {'2000': 5363675, '2010': 5686986, '2015': 5759432},
 'Wyoming.json': {'2000': 493782, '2010': 563626, '2015': 584304}}

In [10]:
# let's create a pandas table from a dictionary of lists.
# we'll have a row for each state and a column for each year.
# each cell will contain a population
table = {'state':[], '2000':[], '2010':[], '2015':[]}

for filename in state_data:
    state_name = filename.split('.')[0].replace('_', ' ')
    row = state_data[filename]
    
    table['state'].append(state_name)
    for year in ('2000', '2010', '2015'):
        table[year].append(row[year])
table

{'state': ['Alabama',
  'Alaska',
  'Arizona',
  'Arkansas',
  'California',
  'Colorado',
  'Connecticut',
  'Delaware',
  'Florida',
  'Georgia',
  'Hawaii',
  'Idaho',
  'Illinois',
  'Indiana',
  'Iowa',
  'Kansas',
  'Kentucky',
  'Louisiana',
  'Maine',
  'Maryland',
  'Massachusetts',
  'Michigan',
  'Minnesota',
  'Mississippi',
  'Missouri',
  'Montana',
  'Nebraska',
  'Nevada',
  'New Hampshire',
  'New Jersey',
  'New Mexico',
  'New York',
  'North Carolina',
  'North Dakota',
  'Ohio',
  'Oklahoma',
  'Oregon',
  'Pennsylvania',
  'Rhode Island',
  'South Carolina',
  'South Dakota',
  'Tennessee',
  'Texas',
  'Utah',
  'Vermont',
  'Virginia',
  'Washington',
  'West Virginia',
  'Wisconsin',
  'Wyoming'],
 '2000': [4447100,
  626932,
  5130632,
  2673400,
  33871648,
  4301261,
  3405565,
  783600,
  15982378,
  8186453,
  1211537,
  1293953,
  12419293,
  6080485,
  2926324,
  2688418,
  4041769,
  4468976,
  1274923,
  5296486,
  6349097,
  9938444,
  4919479,
  2844658,
  5595211,
  902195,
  1711263,
  1998257,
  1235786,
  8414350,
  1819046,
  18976457,
  8049313,
  642200,
  11353140,
  3450654,
  3421399,
  12281054,
  1048319,
  4012012,
  754844,
  5689283,
  20851820,
  2233169,
  608827,
  7078515,
  5894121,
  1808344,
  5363675,
  493782],
 '2010': [4779736,
  710231,
  6392017,
  2915918,
  37253956,
  5029196,
  3574097,
  897934,
  18801310,
  9687653,
  1360301,
  1567582,
  12830632,
  6483802,
  3046355,
  2853118,
  4339367,
  4533372,
  1328361,
  5773552,
  6547629,
  9883640,
  5303925,
  2967297,
  5988927,
  989415,
  1826341,
  2700551,
  1316470,
  8791894,
  2059179,
  19378102,
  9535483,
  672591,
  11536504,
  3751351,
  3831074,
  12702379,
  1052567,
  4625364,
  814180,
  6346105,
  25145561,
  2763885,
  625741,
  8001024,
  6724540,
  1852994,
  5686986,
  563626],
 '2015': [4846411,
  737046,
  6728783,
  2966835,
  38792291,
  5355588,
  3594762,
  935968,
  19905569,
  10097132,
  1420257,
  1634806,
  12882189,
  6597880,
  3109481,
  2902507,
  4412617,
  4648990,
  1330256,
  5975346,
  6755124,
  9916306,
  5457125,
  2993443,
  6063827,
  1023252,
  1882980,
  2838281,
  1327996,
  8938844,
  2085567,
  19748858,
  9940387,
  740040,
  11596998,
  3879610,
  3971202,
  12793767,
  1054907,
  4829160,
  853304,
  6547779,
  26979078,
  2944498,
  626767,
  8328098,
  7063166,
  1848751,
  5759432,
  584304]}

In [11]:
df = pd.DataFrame(table)
df

             state      2000      2010      2015
0          Alabama   4447100   4779736   4846411
1           Alaska    626932    710231    737046
2          Arizona   5130632   6392017   6728783
3         Arkansas   2673400   2915918   2966835
4       California  33871648  37253956  38792291
5         Colorado   4301261   5029196   5355588
6      Connecticut   3405565   3574097   3594762
7         Delaware    783600    897934    935968
8          Florida  15982378  18801310  19905569
9          Georgia   8186453   9687653  10097132
10          Hawaii   1211537   1360301   1420257
11           Idaho   1293953   1567582   1634806
12        Illinois  12419293  12830632  12882189
13         Indiana   6080485   6483802   6597880
14            Iowa   2926324   3046355   3109481
15          Kansas   2688418   2853118   2902507
16        Kentucky   4041769   4339367   4412617
17       Louisiana   4468976   4533372   4648990
18           Maine   1274923   1328361   1330256
19        Maryland   5296486   5773552   5975346
20   Massachusetts   6349097   6547629   6755124
21        Michigan   9938444   9883640   9916306
22       Minnesota   4919479   5303925   5457125
23     Mississippi   2844658   2967297   2993443
24        Missouri   5595211   5988927   6063827
25         Montana    902195    989415   1023252
26        Nebraska   1711263   1826341   1882980
27          Nevada   1998257   2700551   2838281
28   New Hampshire   1235786   1316470   1327996
29      New Jersey   8414350   8791894   8938844
30      New Mexico   1819046   2059179   2085567
31        New York  18976457  19378102  19748858
32  North Carolina   8049313   9535483   9940387
33    North Dakota    642200    672591    740040
34            Ohio  11353140  11536504  11596998
35        Oklahoma   3450654   3751351   3879610
36          Oregon   3421399   3831074   3971202
37    Pennsylvania  12281054  12702379  12793767
38    Rhode Island   1048319   1052567   1054907
39  South Carolina   4012012   4625364   4829160
40    South Dakota    754844    814180    853304
41       Tennessee   5689283   6346105   6547779
42           Texas  20851820  25145561  26979078
43            Utah   2233169   2763885   2944498
44         Vermont    608827    625741    626767
45        Virginia   7078515   8001024   8328098
46      Washington   5894121   6724540   7063166
47   West Virginia   1808344   1852994   1848751
48       Wisconsin   5363675   5686986   5759432
49         Wyoming    493782    563626    584304

In [18]:
df.describe()

               2000          2010          2015
count  5.000000e+01  5.000000e+01  5.000000e+01
mean   5.616997e+06  6.162876e+06  6.364951e+06
std    6.185580e+06  6.848235e+06  7.152086e+06
min    4.937820e+05  5.636260e+05  5.843040e+05
25%    1.735533e+06  1.833004e+06  1.857308e+06
50%    4.026890e+06  4.436370e+06  4.530804e+06
75%    6.281944e+06  6.680312e+06  6.986156e+06
max    3.387165e+07  3.725396e+07  3.879229e+07

In [19]:
df.describe().astype(int)

           2000      2010      2015
count        50        50        50
mean    5616996   6162876   6364951
std     6185579   6848235   7152085
min      493782    563626    584304
25%     1735533   1833004   1857308
50%     4026890   4436369   4530803
75%     6281944   6680312   6986155
max    33871648  37253956  38792291